{% extends "info_pages/info_page_base.html" %}
{% load thumbnail appleinrus_tags i18n %}

{% block breadcrumbs_content %}
	<a href="{% url 'news' %}">{% trans "Новости" %}</a><span>{{ news_item.title|safe }}</span>
{% endblock %}

{% block rightCol %}
<div class="article">
    <h2 class="catalog_h">{{ news_item.title|safe }}</h2>
    <div class="article_txt">
	    {% thumbnail news_item.image "300x350" as im %}
	        <img class="floatLeft" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ news_item.title|striptags }}">
	    {% endthumbnail %}
	    {{ news_item.body|safe|urlizetrunc:"30" }}
	    <p><span class="date">Опубликованно: {{ news_item.creation_date|date:"j E Y в H:i" }}</span></p>
	    <br>
    </div>
</div>
{% endblock %}
