{% extends "info_pages/info_page_base.html" %}
{% load thumbnail appleinrus_tags i18n pagination_tags %}

{% block rightCol %}
<div class="article">
    <h2 class="catalog_h">Новости</h2>
    <div class="article_txt">
        {% autopaginate news 15 %}
        <div class="panel">
            {% paginate %}
        </div>
        <div class="news">
        {% for n in news %}
        <article>{% url 'news_detail' slug=n.slug as news_detail_url %}
            <h2 class="news"><a href="{{ news_detail_url }}">{{ n.title|safe }}</a></h2>
            {% thumbnail n.image "150x150" crop='center' as im %}
                <a href="{{ news_detail_url }}" title="{{ n.title|striptags }}"><img class="floatLeft" style="padding:{{ im|margin:"150x150" }};" src="{{ im.url }}" title="{{ n.title|striptags }}" alt="{{ n.title|striptags }}"></a>
            {% endthumbnail %}
            {{ n.short|safe|urlizetrunc:"40" }}
            <p>
                <a class="more" href="{{ news_detail_url }}">{% trans 'Читать дальше' %}&nbsp;&rarr;</a> 
                <span class="date">Опубликованно: {{ n.creation_date|date:"j E Y в H:i" }}</span>
            </p>
        </article>
       <div class="clr"></div>
        {% endfor %}
        </div>
        <div class="panel">
            {% paginate %}
        </div>
    </div>
</div>
{% endblock %}
