{% load page_tags generic_flatblocks thumbnail %}
{% for rev in rev_list %}
<div class="review rollitin">
    <div class="row">
        <div class="col-md-2">
            <div class="review-person">
                {% thumbnail rev.image '850x335' upscale=False format='PNG' as im %}
                  <img src="{{ im.url }}"  alt="{{ slide.name }}" class="img-responsive">
                {% endthumbnail %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="review-comment">
                <h3>“{{ rev.body }}”</h3>
                <p>
                    - {{ rev.who }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}