{% load thumbnail %}
   
{% if slider_list %}
<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>
            {% for slide in slider_list %}
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="{{ STATIC_URL }}img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfb fadeout hidden-xs"
                    data-x="center"
                    data-y="bottom"
                    data-hoffset="0"
                    data-voffset="0"
                    data-speed="1000"
                    data-start="700"
                    data-easing="Power4.easeOut">
                      {% thumbnail slide.image '850x335' upscale=False format='PNG' as im %}
			                <a href="{{ slide.url }}"><img src="{{ im.url }}"  alt="{{ slide.name }}"></a>
			            {% endthumbnail %}
                </div>

                
                <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
                    {{ slide.title|safe }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}