<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load page_tags generic_flatblocks %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{%block title%}{%endblock%}</title>
<meta name="keywords" content="{%block keywords%}{%endblock%}">
<meta name="description" content="{%block description%}{%endblock%}">
<link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.glide.js"></script>
<script src="{{ STATIC_URL }}js/jquery.glide.min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
	
<div class="wrapper">

	<div class="header">
		<div class="header-1 clearfix">
			<a href="" class="logo float-l"></a>
			<div class="phone float-l">
			{% gblock 'phone' for 'gblocks.title' %}
				<!--<div class="obr-phone">
					<a href="/backline">Обратная связь</a>
				</div>-->

				{% include 'menu/small_top_menu.html' %}

			</div>
			{% include 'menu/vertical_top_menu.html' %}
			<div class="float-r">
				<div class="my-account clearfix">
					<div class="my-account-1 float-l">Личный кабинет</div>
					<div class="my-account-2 float-r"><a target = "_blank" href="http://billing.iqhost.ru"></a></div>
				</div>
				<div class="become-client">
					<a target = "_blank" href="https://billing.iqhost.ru/manager/billmgr?func=register&lang=ru">Cтать клиентом</a>
				</div>
			</div>
		</div>

		{% include 'menu/top_menu.html' %}

	</div>

 	{% slider %}

	<div class="services">
		<span class="title">Услуги</span>
		<span class="title-little">
			Дополнительные услуги компании Ай-Кью Хост
		</span>
	{% include 'menu/uslugi_menu.html' %}
	</div><!-- services END -->
	<div class="main">
		<div class="sidebar-l float-l">
			<div class="sidebar-block">
				<div class="sidebar-block-name">Тарифы</div>
				<div class="sidebar-block-text">
					<ul class="sidebar-r-offers-1">
						<li><a href="/hosting">Хостинг</a></li>
						<li><a href="#">Доменные имена</a></li>
						<li><a href="/rent">Аренда сервера</a></li>
						<li><a href="#">Хранение данных</a></li>
						<li><a href="/servers">Размещение серверов</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<div class="sidebar-block-name">Решения</div>
				<div class="sidebar-block-text">
					<ul class="sidebar-r-offers-2">
						<li><a href="#">Хостинг</a></li>
						<li><a href="#">Доменные имена</a></li>
						<li><a href="#">Аренда сервера</a></li>
						<li><a href="#">Хранение данных</a></li>
						<li><a href="#">Размещение серверов</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<div class="sidebar-block-name">Вопросы FAQ</div>
				<div class="sidebar-block-text">
					<ul class="sidebar-r-offers-3">
						<li><a href="#">Как заказать услугу виртуальный хостинг ?</a></li>
						<li><a href="#">Как восстановить копию сайта из резервной ?</a></li>
						<li><a href="#">Как работает защита от DdoS атак ?</a></li>
						<li><a href="#">Что такое безлимитный трафик ?</a></li>
					</ul>
				</div>
			</div>
		</div>
		{%block content%}{%endblock%}
		<div class="clear"></div>
	</div><!-- main END -->
</div>

{% include 'menu/bottom_menu.html' %}
<!-- footer-menu-ob END -->

<div class="footer-ob">
	<div class="footer">
		<div class="footer-copyright">
		{% gblock 'copyright' for 'gblocks.title' %}
		</div>
	</div>
</div><!-- footer-ob END -->

<!-- slider script -->
<script type="text/javascript">
	var glide = $('.slider').glide().data('api_glide');

		$(window).on('keyup', function (key) {
			if (key.keyCode === 13) {
				glide.jump(3, console.log('Wooo!'));
			};
		});

		$('.slider-arrow').on('click', function() {
			console.log(glide.current());
		});
</script>
	
</body>
</html>