<!doctype html>
{% load page_tags generic_flatblocks %}
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    {% gblock 'seo_block' for 'gblocks.seo'  into 'seo_block' %}
    <title>{{ seo_block.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slick.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/rs-plugin/css/settings.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.custom.32033.js"></script>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/eco.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <div class="pre-loader">
        <div class="load-con">
            <img src="{{ STATIC_URL }}img/eco/logo.png" class="animated fadeInDown" alt="">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img src="{{ STATIC_URL }}img/eco/logo.png" alt="" class="logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        {% include 'menu/vertical_top_menu.html' %}

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-->
        </nav>
            {% slider %}
 </header>
    <div class="wrapper">
        <section id="about">
            <div class="container">
                
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>{% gblock 'about_us2' for 'gblocks.titleandtext'  into 'about_us' %}
                    {{ about_us.title }}
                    </h1>
                    <div class="divider"></div>
                    <p>{{ about_us.text }}</p>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-download fa-2x"></i>
                            {% gblock 'first_t' for 'gblocks.titleandtext'  with 'gblocks/title_text.html' %}
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                            <i class="fa fa-mobile fa-2x"></i>
                            {% gblock 'first_t_2' for 'gblocks.titleandtext'  with 'gblocks/title_text.html' %}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                            <i class="fa fa-users fa-2x"></i>
                             {% gblock 'first_t_3' for 'gblocks.titleandtext'  with 'gblocks/title_text.html' %}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect1">
                            <i class="fa fa-sliders fa-2x"></i>
                            {% gblock 'first_t_4' for 'gblocks.titleandtext'  with 'gblocks/title_text.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="features">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>{% gblock 'features' for 'gblocks.titleandtext'  into 'features' %}
                    {{ features.title }}
                    </h1>
                    <div class="divider"></div>
                    <p>{{ features.text }}</p>                   
                </div>
                <div class="scrollpoint sp-effect1">
                    <div class="row">

                        <div class="col-xs-6 s_feft scroll-animate animate">
                            <div class="sphere s1 animation fadeInLeft">
                                {% gblock 'feat_1' for 'gblocks.titleandtext'  with 'gblocks/features.html' %}
                            </div>
                        </div>  

                        <div class="col-xs-6 s_right scroll-animate animate">
                            <div class="sphere s2 animation fadeInRight">
                                {% gblock 'feat_2' for 'gblocks.titleandtext'  with 'gblocks/features.html' %}
                            </div> 
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-xs-6 s_feft scroll-animate animate">
                            <div class="sphere s3 animation fadeInLeft">
                                {% gblock 'feat_3' for 'gblocks.titleandtext'  with 'gblocks/features.html' %}
                            </div> 
                        </div>
                        <div class="col-xs-6 s_right scroll-animate animate">
                            <div class="sphere s4 animation fadeInRight">
                                {% gblock 'feat_4' for 'gblocks.titleandtext'  with 'gblocks/features.html' %}
                            </div> 
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-xs-6 s_feft scroll-animate animate">
                            <div class="sphere s3 animation fadeInLeft">
                                {% gblock 'feat_5' for 'gblocks.titleandtext'  with 'gblocks/features.html' %}
                            </div> 
                        </div>
                        <div class="col-xs-6 s_right scroll-animate animate">
                            <div class="sphere s4 animation fadeInRight">
                                {% gblock 'feat_6' for 'gblocks.titleandtext'  with 'gblocks/features.html' %}
                            </div> 
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>


        <section id="getApp">
            <div class="container-fluid">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>{% gblock 'price_list' for 'gblocks.titleandtext'  into 'price_list' %}
                    {{ price_list.title }}
                    </h1>
                    <div class="divider"></div>
                    <p>{{ price_list.text }}</p>      
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
                            <img src="img/eco/eco-angled2.png" alt="">
                        </div>
                        <div class="platforms">
                        {% gblock 'uploads' for 'gblocks.upload'  into 'uploads' %}
                            <a href="{{ MEDIA_URL }}{{ uploads.file }}" class="btn btn-primary inverse scrollpoint sp-effect1">
                                <span>Скачать</span><br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="demo">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>{% gblock 'status' for 'gblocks.titleandtext'  into 'status' %}
                    {{ status.title }}
                    </h1>
                    <div class="divider"></div>
                    <p>{{ status.text }}</p>    
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div class="video-container video_2" >
                            <form role="form" id="check_form">
                                <div class="form-group">
                                    <input type="hidden" name="status" value="1">
                                    <input type="text" name="code" class="form-control form-control_first">
                                </div>
                                <button id="check" type="submit" class="btn btn-primary btn-lg">Проверить</button>
                            </form>
                            <div class="result" id="result_answer">Ваш статус заявки: <span> готов к выдаче</span></div>
                            <div class="result" id="result_answer_error">Номер заказа введен неверно</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="reviews">
            <div class="container">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>{% gblock 'reviews' for 'gblocks.titleandtext'  into 'reviews' %}
                    {{ reviews.title }}
                    </h1>
                    <div class="divider"></div>
                    <p>{{ reviews.text }}</p>  
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
                        <div class="review-filtering">
                            

                            {% reviews %}

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="support" class="doublediagonal">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                  <h1>{% gblock 'feedback' for 'gblocks.titleandtext'  into 'feedback' %}
                    {{ feedback.title }}
                    </h1>
                    <div class="divider"></div>
                    <p>{{ feedback.text }}</p> 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
                            <div id="success_div">
                              Спасибо за Ваш интерес к нам! <br> <b> Мы свяжемся с Вами в ближайшее время </b> 
                            </div>
                               <form role="form" action="{% url 'feedback' %}" id="feedForm">{% csrf_token %}
                                <input type="hidden" name="feedback" value="1">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Представьтесь">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="Ваш email">
                                    </div>
                                    <div class="form-group">
                                        <textarea cols="30" name="text" rows="10" class="form-control" placeholder="Сообщение нам"></textarea>
                                    </div>
                                    <button type="submit" id="feedback_btn" class="btn btn-primary btn-lg">Отправить</button> <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif"/>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {% gblock 'feed_addr' for 'gblocks.title'  with 'gblocks/title.html' %}
                                        </h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-envelope fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                           {% gblock 'feed_mail' for 'gblocks.title'  with 'gblocks/title.html' %}
                                        </h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-phone fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">{% gblock 'feed_phone' for 'gblocks.title'  with 'gblocks/title.html' %}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
            </div>
        </footer>

    </div>
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/slick.min.js"></script>
    <script src="{{ STATIC_URL }}js/placeholdem.min.js"></script>
    <script src="{{ STATIC_URL }}js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="{{ STATIC_URL }}js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{ STATIC_URL }}js/waypoints.min.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script>

</body>

</html>
