{% load page_tags  %}
{% actions TOP %}

<div class="menu">
	<ul>
	{% for action in actions %}
		{% if action.selected %}
            <li class="active"><a href="#">{{ action.title }}</a></li>
        {% else %}
            <li><a href="{{ action.link }}">{{ action.title }}</a></li>
        {% endif %}
	{% endfor %}
	</ul>
</div>

