{% load page_tags thumbnail %}
{% actions USLUGI %}

<div class="services-ob">
	{% for action in actions %}
	<div class="services-item">
		<div class="services-item-img">
			{% thumbnail action.image '960x330' crop="center" upscale=False format='PNG' as im %}
            	<img src="{{ im.url }}" title="{{ slide.name }}" alt="{{ slide.name }}">
        	{% endthumbnail %}
		</div>
		<div class="services-item-text"><a href="{{ action.link }}">{{ action.title }}</a></div>
	</div>
	{% endfor %}
	<div class="clear"></div>
</div>