{% load page_tags  %}
{% actions TOP_MENU %}

<ul class="nav navbar-nav navbar-right">
{% for action in actions %}
	<li><a {% if action.link == '#getApp' %} class="getApp" {% endif %} href="{{ action.link }}">{{ action.title }}</a></li>
{% endfor %}
</ul>